* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background-color: #f4f4f4; /* Fondo de la página */
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Fondo blanco para el contenedor */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.users-form form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30%;
    margin: 20px auto;
    text-align: center;
}

.users-form form input {
    font-family: 'Segoe UI', sans-serif;
}

.users-form form input[type=text],
.users-form form input[type=password],
.users-form form input[type=email] {
    padding: 12px;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    transition: 0.3s;
}

.users-form form input[type=text]:focus,
.users-form form input[type=password]:focus,
.users-form form input[type=email]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 6px 0 dodgerBlue;
}

.users-form form input[type=submit] {
    border: none;
    padding: 12px 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white; 
    color: black; 
    border: 2px solid #60a100;
    transition: background-color 0.4s, color 0.4s;
}

.users-form form input[type=submit]:hover {
    background-color: #60a100;
    color: white;
}

.users-table {
    margin: 20px auto;
    width: 100%;
}

.users-table table {
    border-collapse: collapse;
    width: 100%;
}

.users-table th,
.users-table td {
    padding: 16px;
    text-align: center;
}

.users-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternar filas de la tabla */
}

.users-table tr:hover {
    background-color: #e0f7fa; /* Color de fila al pasar el ratón */
}

.users-table--edit,
.users-table--delete {
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
}

.users-table--edit {
    background: #009688; /* Color de botón Editar */
}

.users-table--edit:hover {
    background: #00796b; /* Color al pasar el ratón */
}

.users-table--delete {
    background: #b11e1e; /* Color de botón Eliminar */
}

.users-table--delete:hover {
    background: #a11e1e; /* Color al pasar el ratón */
}
